.inputBorder{
    margin-right: 10px;
    margin-left: 10px;
}

.inputDivNumber{
    margin: 0 auto;
    max-width: 480px;
    min-width: 350px;
}


.inputNumber1 {
    width: 100%;
    display: block;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-right: 0px;
    margin-top: 50px;
    border: 0px;
    padding: 15px;

}

::placeholder {
    text-align: center;
    color: rgba(0, 0, 0, 0.242);
    font-size: 25px;
}

