.inputNumber1{
    display: block;
    border-radius: 9px;
    padding: 15px;
    min-width: 450px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

::placeholder{
    text-align: center;
    color: rgba(0, 0, 0, 0.242);
}