.result{
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 9px;
    padding: 15px;
    max-width: 450px;
    min-width: 320px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    cursor: not-allowed;
    text-align: center;
    min-height: 34px;
}

