.footer {
    position: absolute;
    bottom: 0;
    background-color: #2D333B;
    width: 100vw;
    height: 39px;
}

.sub-footer {
    display: inline;
}

.imageInstagram {
    width: 33px;
    cursor: pointer;
    padding-top: 3px;
    padding-left: 5px;
    padding-bottom: 3px;
}

.instagramPopover:hover {
    transform: scale(1.04);
}

.imageGitHub {
    width: 33px;
    cursor: pointer;
    padding-top: 3px;
    padding-left: 1px;
    padding-bottom: 3px;
}

.githubPopover:hover{
    transform: scale(1.04);
}

.imageEmail {
    cursor: pointer;
    width: 33px;
    padding-right: 2px;
}

.imageEmail:hover {
    transform: scale(1.016);
}

.githubPopover {
    width: 324px;
    height: 184.5px;
    cursor: pointer;
    padding: 5px;
}

.instagramPopover {
    width: 320.33px;
    height: 92.66px;
    cursor: pointer;
    padding: 5px;
}