.footer{
    position: absolute;
    bottom: 0;
    background-color: #2D333B;
    width: 100%;
    height: 55px;
}

.imageInstagram{    
    width: 40px;
    cursor: pointer;
    padding-top: 5px;
    padding-right: 5px;
    
}

.imageGithub{
    cursor: pointer;
    padding-top: 5px;
    padding-right: 5px;
    width: 40px;
}

.imageEmail{
    padding-top: 5px;
    cursor: pointer;
    width: 40px;
}
