.popoverButton{
    position: absolute;
    display: inline-block;
    transition: transform 150ms;
}

.popoverButton:hover {
    transform: scale(1.09);
}

.viewHeadLineimg{
    width: 40px;
    border-radius: 35px;
}

.textView{
    max-width: 200px;
    font-size: 20px;
}
