.container {
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba(34, 39, 46, 0.95),
      rgba(34, 39, 46, 0.95)
    ),
    url(./image/levi.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  color: white;
}
