.container {
  height: 100vh;
  background-color: #22272e;
  margin: 0 auto;
  margin-top: 0;
}

.container::before {
  content: " ";
  background-image: url(levi.gif);
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.05;
}

.sub-container-home::after {
}

h1 {
  color: white;
}
